


.datatech_nav_manu {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0 20px;
  display: flex;
  align-items: center;
  transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
  height: 110px;
}

.datatech_nav_manu.scrolled {
  height: 110px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  background: #0b204c; /* Navy Blue */
}

.datatech_menu ul li a {
  color: #000; /* black text */
  font-weight: 500;
  display: block;
}

.scrolled .datatech_menu ul li a {
    color: #fff; /* white text */
}
.scrolled .datatech_menu ul li button {
    color: #fff; /* white text */
}
.scrolled .datatech_menu ul li .sub-menu li a {
    color: #000;
}


.datatech_menu ul li .sub-menu {
  background: #fff; /* dropdown white */
  border: 1px solid #eaeaea;
  border-top: 3px solid rgb(241, 103, 34);
 
  position: absolute;
  min-width: 200px;
  display: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  list-style: none;
  padding: 0;
  z-index: 1000;
}
.datatech_menu ul li .sub-menu :hover {
  background: rgb(241, 103, 34); /* dropdown white */
  color: white;

}
.datatech_menu ul li:hover .sub-menu {
  display: block;
}

.datatech_menu ul li .sub-menu li a {
  padding: 8px 20px;
  color: #000; 
}

.datatech_menu ul li .sub-menu li a:hover {
 background: rgb(241, 103, 34); /* dropdown white */
  color: white;
}

.datatech_menu ul li button {
    color: #000;
}

.scrolled .datatech_menu ul li .sub-menu li a:hover {
    color: white;
}

    